<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Scrollbook dashboard">
  <title>Scrollbook</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/scripts/script.js" type="module"></script>
  <script src="/scripts/vendor/three.min.js"></script>
  <script src="/scripts/vendor/OrbitControls.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/gsap.min.js"></script>
</head>

<body>
  <header>
    <a href="/"><img src="/assets/scrollbook-logo.png" alt="Scrollbook Logo"></a>
    <input type="checkbox" id="hamburger" class="hamburger-checkbox">
    <input type="checkbox" id="search" class="search-checkbox">
    <label class="search" for="search">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="44" height="44"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <circle cx="10" cy="10" r="7" />
        <line x1="21" y1="21" x2="15" y2="15" />
      </svg>
    </label>
    <label class="hamburger" for="hamburger">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </label>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <form>
      <input type="text" id="searchInput" placeholder="Search for a book title...">
      <ul id="searchResults"></ul>
    </form>
  </header>
