<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrollbook</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/scripts/vendor/three.min.js"></script>
  <script src="/scripts/vendor/OrbitControls.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/gsap.min.js"></script>
</head>
<body>
  <header>
    <a href="/"><img src="/assets/scrollbook-logo.png" alt="Scrollbook Logo"></a>
    <input type="checkbox" id="hamburger">
    <label for="hamburger">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </label>
    <nav>
      <h1>Scrollbook</h1>
      <p>Ik wil eten</p>
    </nav>
  </header>