<%- include('partials/header.ejs') %>

    <main class="about-main">
        <h1>Joop Akerboom (HvA): Scrollbook</h1>
        <p>
            Reading pleasure among young people is declining and it’s not that young people do not read, but they read
            different.
            Young people read a lot of short texts. What is not activated while reading short texts is the kind of
            concentration
            that is required of your brain when reading long texts, called deep reading.
        </p>
        <p>
            As a result, young people lag behind in insights and vocabulary. The focus of Scrollbook is on the
            deliberate act of
            reading more thoughtfully with the aim of increasing understanding and reading pleasure. It’s a platform in
            which books
            are designed in the style of the content with animated visuals to guide the eyes and enhance the reading
            experience.
            Centered around a scroll interaction, a portion of an existing book will be highlighted, which will act as a
            “trailer”
            for the book, exposing the user to the book and its design style which is a small commitment of 5-10
            minutes. When the
            user chooses to read the book, which is the greater commitment in
            this case, they are more likely to continue reading the book.
        </p>
        <p>
            While reading both the book preview and the book itself, the reader’s eyes are guided with the help of
            enabled reading.
            This makes words visibly visualized and highlighted on scroll interaction. By highlighting words when
            performing a
            scrolling action and reading at the same time, the user can maintain a tone and focal point that will easily
            put them in
            a state of deep reading and memorizing text.
        </p>
        <p>
            When young people start to enjoy reading a book again, they will read more, they will read deeply and then
            they will get
            better at it. It increases vocabulary and insights. This way you automatically tackle low literacy and the
            enjoyment of
            reading.
        </p>
        <img src="/assets/joop.png" alt="Joop Akerboom Laptop">
    </main>

    <%- include('partials/footer.ejs') %>