<%- include('partials/header.ejs') %>

  <main>
    <!-- <img src="/assets/scrollbook-logo.png" alt="Scrollbook Logo"> -->
  </main>
  <script src="/scripts/script.js" type="module"></script>


  <%- include('partials/footer.ejs') %>
