<%- include('partials/header.ejs') %>

  <main>
    <!-- <img src="/assets/scrollbook-logo.png" alt="Scrollbook Logo"> -->
  </main>
  <noscript>
    <p>This site doesn't work without JavaScript.</p>
    <img src="/assets/noscript.svg" alt="noscript">
  </noscript>
  <script src="/scripts/three.js" type="module"></script>


  <%- include('partials/footer.ejs') %>
